.table-cell {
  border: 1px solid lightslategray;
  text-align: left;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
}

.table-cell:hover {
  border-color: blue;
}

.table-cell:hover .fill-handle {
  visibility: visible;
}

.fill-handle {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  background: blue;
  bottom: -3px;
  right: -3px;
  height: 9px;
  width: 9px;
  cursor: pointer;
}

.handle-wrapper {
  position: relative;
  height: 100%;
}

.cell-in-selection {
  border: 1px solid red;
  background: lightblue;
  z-index: 10;
}

.data-wrapper {
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  width: 100%;
}

.dragging-origo {
  border-width: 3px !important;
  font-weight: bold;
  color: blue;
}
